.form-container{
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../images/menubg.svg) center center no-repeat fixed;
  background-size: cover;
  background-size: cover;
  background-color: #531eaa;
  z-index: 11;
  top: 0;
  transition:all .5s ease;
  color: #fff;
  text-align: center;

}
.form-container .form-title{
  font-size: 2em;
}
.form-container .part1{
  display:none;
  -webkit-transition:all 1s ease;
  position:absolute;
  top: 77px;
}
.form-container .part1 .radio-button-container{
  margin-top:64px;
}
.form-container .part1 .radio-button-container .radio-card{
  background:#28e3cc;
  color:rgba(255, 255, 255, 0.71);
  font-size: 2em;
  border-radius:5px;
  cursor:pointer;
}
.form-container .part1 .radio-button-container .radio-card.radio-card-margin{
  margin-top:20px;
}
.form-container .part1 .radio-button-container .radio-card:hover{
  color:#fff;
}
.form-container .part1 .radio-button-container .radio-card i.icon{
 display:block;
 width:100%;
 font-size:3em;
}

.form-container  .scroll-btn{
 position: absolute;
 font-size:2.5em;
 cursor:pointer;
 color:rgba(255, 255, 255, 0.71);
}
.form-container .scroll-btn:hover{
 color:#fff;
}
.form-container .scroll-btn.btn-left{
  left:10px;
  top:50%;
}
.form-container .scroll-btn.btn-right{
  right:10px;
  top:50%;
}
.form-container .part2{
   display:block;
   //left:100%;
   left:0%;
   position:absolute;
   background:red;
  -webkit-transition:all 1s ease;
}
.form-container .pagination-container{
  position:absolute;
  bottom:20px;
  width:100%;
  text-align:center;
}
.form-container .pagination-container ul{

}
.form-container .pagination-container ul li{
  display:inline-block;
  background-color:rgba(255, 255, 255, 0.71);
  padding:5px;
  border-radius:35%;
  margin-left:5px;
  cursor:pointer;
}
.form-container .pagination-container ul li.active{
  background-color:#fff;
}



/* ----------- iPhone 4 and 4S ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
    margin-top:20px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:64px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}



/* ----------- iPhone 6 ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
    margin-top:20px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:80px;
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
    margin-left:20px;
	margin-top:0px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:35px;
  }
}

/* ----------- iPhone 5 and 5S ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
    margin-top:20px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:34px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
    margin-top:10px;
	margin-left:93px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:0px;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
	margin-top:20px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:110px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
    margin-left:20px;
	margin-top:0px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:35px;
  }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
	margin-top:20px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:70px;
  }
}

/* Landscape */
/* Not working */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
	margin-top:20px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:60px;
  }
}

/* ----------- HTC One ----------- */
/* Need to test on phn*/
/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- iPad mini ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
 .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
	margin-left:30px;
	margin-top:0px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:350px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
	margin-left:30px;
	margin-top:0px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:220px;
  }
}
/* -----------  Nexus 5X ----------- */


/* Portrait */
@media screen 
  and (device-width: 412px) 
  and (device-height: 732px) 
  and (orientation: portrait) {
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
	margin-top:20px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:75px;
  }
}

/* Landscape */
@media screen 
  and (device-width: 732px) 
  and (device-height: 412px) 
  and (orientation: landscape) {
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
	margin-left:30px;
	margin-top:0px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:40px;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
	margin-left:20px;
	margin-top:0px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:165px;
  }
  @media screen 
  and (max-width: 603px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  .form-container .part1 .radio-button-container .radio-card.radio-card-margin{
	margin-left:16.66%;
	margin-top:20px;
  }
  .form-container .part1 .radio-button-container{
    margin-top:65px;
  }
}
}
